<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
    <title>Login</title>
</head>
<body>
    <main class="mainContent">
        <h1 class="mainContentH1">Login</h1>
        <form id="LoginForm" action="" class="mainContentForm">
            <input type="user" class="mainContentFormInput" placeholder="Useuário" name="username">
            <input type="password" class="mainContentFormInput" placeholder="Senha" name="password">
        </form>
        <div class="mainContentDiv">
            <p>Não tem conta? clique <a href="{{ url_for('page.register_page') }}" class="mainContentDivPA">Aqui</a></p>
        </div>
        <button type="submit" form="LoginForm" class="LoginFormButton">Login</button>
    </main>
</body>
</html>